html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo img {
    width: 15rem;
}

.logo {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background: #FFFFFF;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
}

.bluewhitecolor {
    background-color: #012169;
    color: #FFFFFF;
}

.bgcolorgrey {
    background-color:#F5F5F5 !important;
}

.paddingright20px {
    padding-right:20px;
}

.cust_btn {
    background-color: #012169;
    color:#FFFFFF;
    padding-top:0.3rem;
    padding-bottom:0.3rem;
}